<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    .completed {
  text-decoration: line-through
}
</style>
</head>
<body>
    <div id="app" class="container my-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">待辦事項</span>
          </div>
          <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" :class="{ 'active': visibility== 'all' }"  @click="visibility = 'all'" href="#">全部</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="{ 'active': visibility== 'active' }" @click="visibility = 'active'" href="#">進行中</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="{ 'active': visibility== 'completed' }" @click="visibility = 'completed'" href="#">已完成</a>
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
              <div class="d-flex" v-if="item.id !== cacheTodo.id">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                  <label class="form-check-label" 
                         :class="{'completed': item.completed}"
                         :for="item.id">
                    {{ item.title }}            
                  </label>
                </div>
                <button type="button" class="close ml-auto" @click="removeTodo(item)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <input type="text" class="form-control" 
                       v-model="cacheTitle"
                       @keyup.esc="cancelEdit()"
                       @keyup.enter="doneEdit(item)"
                       v-if="item.id === cacheTodo.id">
            </li>
      <!--       <li class="list-group-item">
              <input type="text" class="form-control">
            </li> -->
          </ul>
          <div class="card-footer d-flex justify-content-between">
            <span>還有 {{sum}} 筆任務未完成</span>
            <a href="#" @click="clearAll()">清除所有任務</a>
          </div>
        </div>
      </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
var app = new Vue({
  el:'#app',
  data:{
    newTodo: '',
    todos: [
      {
        id: '123',
        title: '',
        completed: false
      }
    ],
    cacheTodo: {},//暫存
    cacheTitle:'',//暫存title
    visibility: 'all'
  },
  methods: {
    addTodo: function(){
      var value = this.newTodo.trim();
      var timestamp = Math.floor(Date.now());//使用timestamp當id
      if(!value) {
        return;
      }
      console.log(value, timestamp);
      this.todos.push({
        id: timestamp,
        title: value,
        completed: false
      }); 
      this.newTodo = ''; //新增完後讓輸入格為空
    },
    removeTodo: function(todo){
      var vm = this;
      var newIndex = vm.todos.findIndex(function(item, key){
        return todo.id === item.id;
      });
      this.todos.splice(newIndex, 1)
    },
    editTodo: function(item) {
      console.log(item)
      this.cacheTodo = item;
      this.cacheTitle = item.title;
    },
    cancelEdit: function() {
      this.cacheTodo = {}
    },
    doneEdit: function(item){
      item.title = this.cacheTitle;
      this.cacheTitle =''; //把暫存清空
      this.cacheTodo = {} //把暫存清空
    },
    clearAll: function(){
      this.todos =[]
    }
  },
  computed: {
      filteredTodos: function(){
if(this.visibility=='all') {
  return this.todos;
} else if (this.visibility=='active') {
  var newTodos = [];
  this.todos.forEach(function (item){
    if(!item.completed) {
      newTodos.push(item);
    }
  })
  return newTodos;
} else if (this.visibility=='completed') {
  var newTodos = [];
  this.todos.forEach(function (item){
    if(item.completed) {
      newTodos.push(item);
    }
  })
  return newTodos;
}
      },
   sum: function(){
      var sum = [];
      this.todos.forEach(function(item){
        if(!item.completed){
          sum.push(item);
        }
      });
      return sum.length;
    }
    }
});
</script>
</body>
</html>